{% extends "layout.html" %}
{% block scripts %}
	<style>
	a {
		color: black;
	}
	.img-thumbnail {
		max-height: 200px;
	}
	div.img-square {
		height:150px;
		background-size:auto 150px;
	}
	div.container {
		display: none;
	}
	div.row {
		max-width: 100%;
	}
	</style>
{% endblock scripts %}

{% block title %}
{{ title }}
{% endblock title %}

{% block homepage %}	
	
	<div class="row">
		<img src="../static/img/title.png" class="img-responsive img-height-constraint" alt="">
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-3"></div>
        <a href="recipes.html" class="img-box">
            <div class="col-xs-12 col-sm-3">
            <center>
                <img src="../static/img/recipe_box.png" class="img-responsive img-height-constraint" alt="">
                <div class="img-box-caption">
                    <div class="img-box-caption-content">
                        <div class="text-category">
                            Recipes
                        </div>
                    </div>
                </div>
                <br>
                <img src="../static/img/recipe.png" class="img-responsive" alt="">
            </center>
            </a>
        </div>

        <a href="ingredients.html" class="img-box">
            <div class="col-xs-12 col-sm-3">
            <center>
                <img src="../static/img/tomato.png" class="img-responsive img-height-constraint" alt="">
                <div class="img-box-caption">
                    <div class="img-box-caption-content">
                        <div class="text-category">
                            Ingredients
                        </div>
                    </div>
                </div>
                <br>
                <img src="../static/img/ingredient.png" class="img-responsive" alt="">
            </center>
            </a>
        </div>

        <div class="col-xs-12 col-sm-3"></div>
	</div>
{% endblock homepage %}

