{% extends "layout.html" %}
{% block scripts %}
	<style>
	th {
		cursor: hand;
		cursor: pointer;
		border-left: 3px solid orange
	}
	img {
		height: 100px;
	}
	</style>
	<script>
		angular.module('mbApp', []).controller('mbCtrl', function($scope, $http) {
			$scope.firstNumber = 1;
			$scope.page = 1;
			$scope.perPage = 10;
			$scope.maxPage = 18;
			$scope.pages = [1, 2, 3, 4, 5];
			$scope.ing;
			$scope.nuts = [];
			$scope.mbReverse = false;
			$scope.orderByMe = function(x) {
				if ($scope.mbOrderBy == x) {
					$scope.mbReverse = !$scope.mbReverse;
				} else {
					$scope.mbReverse = false;
				}
				$scope.mbOrderBy = x;
			}
			$scope.changePage = function(x) {
				if (x == -1) {
					$scope.page = 1;
					$scope.firstNumber = 1;
				} else if (x == -2) {
					$scope.page = $scope.maxPage;
					$scope.firstNumber = $scope.page - $scope.pages.length + 1;
				} else {
					$scope.page = $scope.pages[x];
					$scope.firstNumber = $scope.page - 2;
					if ($scope.firstNumber > $scope.maxPage - $scope.pages.length + 1) {
						$scope.firstNumber = $scope.maxPage - $scope.pages.length + 1;
					} else if ($scope.firstNumber < 1) {
						$scope.firstNumber = 1;
					}
				}
				
				for (var i = 0; i < $scope.pages.length; ++i) {
					$scope.pages[i] = $scope.firstNumber + i;
				}
				$scope.getData();
			}
			$scope.getData = function () {
				$http.get("ingredients?limit=" + $scope.perPage + "&page=" + $scope.page).then(function (transmit) {
					$scope.ing = transmit.data.ingredients;
					$scope.nuts = [];
					for (var i = 0; i < $scope.ing.length; ++i) {
						$http.get("ingredients/" + $scope.ing[i].id + "/nutrition").then(function (transmit_nuts) {
							$scope.nuts.push({x:"min wuz here"});
							jQuery.extend($scope.nuts[i], $scope.ing[i]);
							jQuery.extend($scope.nuts[i], transmit_nuts.data);
						});
					}
					$scope.$apply();
				});
				$http.get("ingredients/count").then(function (transmit) {
					$scope.maxPage = Math.ceil(transmit.data.count / $scope.perPage);
				});
			}
			$(function() {
				$scope.getData();
			});
		});
	</script>
{% endblock scripts %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div ng-app="mbApp" ng-controller="mbCtrl">
<h1>{{ title }}</h1>
	<div class="table-responsive">
		<table class="table table-default table-hover">
			<tr>
				<th ng-click="orderByMe('id')">ID</th>
				<th ng-click="orderByMe('name')">Description</th>
				<th ng-click="orderByMe('calories')">Calories</th>
				<th ng-click="orderByMe('protein_g')">Protein (g)</th>
				<th ng-click="orderByMe('total_fat_g')">Fat (g)</th>
				<th ng-click="orderByMe('total_carbohydrates_g')">Carbs (g)</th>
				<th ng-click="orderByMe('dietary_fiber_g')">Fiber (g)</th>
				<th ng-click="orderByMe('sugar_g')">Sugar (g)</th>
				<th ng-click="orderByMe('calcium_mg')">Calcium (g)</th>
				<th ng-click="orderByMe('iron_mg')">Iron (mg)</th>
				<th ng-click="orderByMe('sodium_mg')">Sodium (mg)</th>
				<th ng-click="orderByMe('vitamin_c_mg')">Vit C (mg)</th>
				<th ng-click="orderByMe('vitamin_a_iu')">Vit A (IU)</th>
				<th ng-click="orderByMe('saturated_fat_g')">Saturated Fat (g)</th>
				<th ng-click="orderByMe('cholesterol_mg')">Cholesterol (g)</th>
			</tr>
		<tr ng-repeat="x in nuts | orderBy:mbOrderBy:mbReverse">
			<td>{{ '{{x.id}}' }}</td>
			<td><a ng-href="/ingredient_{{ '{{x.id}}' }}.html">{{ '{{x.name}}' }}</a></td>
			<td>{{ '{{x.calories}}' }}</td>
			<td>{{ '{{x.protein_g}}' }}</td>
			<td>{{ '{{x.total_fat_g}}' }}</td>
			<td>{{ '{{x.total_carbohydrates_g}}' }}</td>
			<td>{{ '{{x.dietary_fiber_g}}' }}</td>
			<td>{{ '{{x.sugar_g}}' }}</td>
			<td>{{ '{{x.calcium_mg}}' }}</td>
			<td>{{ '{{x.iron_mg}}' }}</td>
			<td>{{ '{{x.sodium_mg}}' }}</td>
			<td>{{ '{{x.vitamin_c_mg}}' }}</td>
			<td>{{ '{{x.vitamin_a_iu}}' }}</td>
			<td>{{ '{{x.saturated_fat_g}}' }}</td>
			<td>{{ '{{x.cholesterol_mg}}' }}</td>
		</tr>
		</table>
	</div>
	<center>
		<ul class="pagination">
			<li><a ng-click="changePage(-1)">First</a></li>
			<li><a ng-click="changePage(0)">{{ '{{pages[0]}}' }}</a></li>
			<li><a ng-click="changePage(1)">{{ '{{pages[1]}}' }}</a></li>
			<li><a ng-click="changePage(2)">{{ '{{pages[2]}}' }}</a></li>
			<li><a ng-click="changePage(3)">{{ '{{pages[3]}}' }}</a></li>
			<li><a ng-click="changePage(4)">{{ '{{pages[4]}}' }}</a></li>
			<li><a ng-click="changePage(-2)">Last</a></li>
		</ul>
		<br />Max Page: {{ '{{maxPage}}' }}
	</center>
</div>
{% endblock content %}