{% extends "layout.html" %}
{% block scripts %}
	<style>
	tr {
		cursor: hand;
		cursor: pointer;
	}
	div.img-square {
		min-height:100px;
		max-height:400px;
		background-size:auto 100%;
	}
	div.img-vert {
		background-size:100% auto;
	}
	</style>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script>
		var ratio = .75;
		var debounceRectIt;
		function rectIt() {
			$("div.img-square").height($(window).height() * ratio);
		}
		window.addEventListener('load', function(event) {
			clearTimeout(debounceRectIt);
			debounceRectIt = setTimeout(rectIt, 50);
		});
		window.addEventListener('resize', function(event) {
			clearTimeout(debounceRectIt);
			debounceRectIt = setTimeout(rectIt, 50);
		});
		angular.module('mbApp', []).controller('mbCtrl', function($scope, $http) {
			$scope.maxCount = 3;
			$scope.lat = 30.2849231;
			$scope.lng = -97.7362454;
			$scope.zoom = 17;
			$scope.areas = {"Africa":[4.3139505,21.6193857,3],
							"Asia":[52.1221233,94.6779534,2],
							"Europe":[48.2501957,14.020635,3],
							"NorthAmerica":[48.0005057,-112.2921205,2],
							"Oceania":[-13.4003707,134.4861927,2],
							"SouthAmerica":[-25.9378331,-60.746592,2],
							"Worldwide":[0,0,0]
							//More
							};
			$scope.showMore = function () {
				$scope.maxCount += 3;
				var y = $("#recipes").scrollTop();
				$("#recipes").animate({ scrollTop: y + 75 }, 600);
			}
			$scope.drawMap = function () {
				var mapProp = {
					center:new google.maps.LatLng($scope.lat, $scope.lng),
					zoom:$scope.zoom,
					mapTypeId:google.maps.MapTypeId.ROADMAP
				};
				var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
			}
			$scope.getData = function () {
				$http.get("ingredients/{{ i_id }}").then(function (transmit) {
					$scope.basic = transmit.data;
					if ($scope.areas[$scope.basic.origin] != undefined) {
						$scope.lat = $scope.areas[$scope.basic.origin][0];
						$scope.lng = $scope.areas[$scope.basic.origin][1];
						$scope.zoom = $scope.areas[$scope.basic.origin][2];
					} else {
						$scope.lat = 30.2849231;
						$scope.lng = -97.7362454;
						$scope.zoom = 17;
					}
					$scope.drawMap();
					$(window).resize($scope.drawMap);
				});
				$http.get("ingredients/{{ i_id }}/recipes").then(function (transmit) {
					$scope.recipes = transmit.data.recipes;
				});
				$http.get("ingredients/{{ i_id }}/nutrition").then(function (transmit) {
					$scope.nuts = transmit.data;
				});
			}
			$(function() {
				$scope.getData();
			});
		});
	</script>
{% endblock scripts %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div ng-app="mbApp" ng-controller="mbCtrl">
	<div class="row" style="padding-bottom:10px">
		<div class="col-xs-12 col-sm-6 col-lg-6">
			<h1 style="word-wrap: break-word">{{ '{{ basic.name }}' }}</h1>
			<i>{{ '{{ basic.scientific_name }}' }}</i>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-6">
			<img style="display: none;" onload='setTimeout(rectIt, 50)' src="{{ '{{basic.image_uri}}' }}">
			<div class="img-responsive img-square" style="margin-top:10px; background-image:url('{{ '{{basic.image_uri}}' }}')"></div>
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<h3>Originates from {{ '{{ basic.origin }}' }}</h3>
		<div id="googleMap" style="height:300px;background-color:transparent"></div>
		<h3>Used in recipes:</h3>
		<div id="recipes" style="max-height:550px; overflow-y:auto">
			<a ng-repeat="x in recipes" ng-if="$index < maxCount" style="color:black" ng-href="/recipe_{{ '{{x.id}}' }}.html">
				<div class="col-xs-11" style="margin-top:5px; margin-bottom:10px; box-shadow: 5px 5px 5px #888888;">
					<div class="img-vert" style="width:100%; max-height:200px; min-height:100px; overflow-y:hidden; background-image:url('{{ '{{x.image_uri}}' }}')"></div>
					<h4>{{ '{{x.title}}' }}</h4>
				</div>
			</a>
		</div>
		<center><a ng-if="maxCount < recipes.length" ng-click="showMore()" class="btn btn-default">More</a></center>
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<table class="table table-default table-hover">
		<th>
		<h4>Nutrition Facts</h4>
		</th>
		<tr>
		<td>Serving Size 100g</td>
		</tr>
		<tr style="background-color:black">
		<td></td>
		</tr>
		<tr>
		<td><b>Amount Per Serving</td>
		</tr>
		<tr>
		<td><b>Calories</b> {{ '{{nuts.calories}}'}}</td>
		</tr>
		<tr>
		<td><b>Total Fat</b> {{ '{{nuts.total_fat_g}}'}}g</td>
		</tr>
		<tr>
		<td><b>Saturated Fat</b> {{ '{{nuts.saturated_fat_g}}'}}g</td>
		</tr>
		<tr>
		<td><b>Cholesterol</b> {{ '{{nuts.cholesterol_mg}}'}}mg</td>
		</tr>
		<tr>
		<td><b>Sodium</b> {{ '{{nuts.sodium_mg}}'}}mg</td>
		</tr>
		<tr>
		<td><b>Total Carb.</b> {{ '{{nuts.total_carbohydrates_g}}'}}g</td>
		</tr>
		<tr>
		<td><b>Fiber</b> {{ '{{nuts.dietary_fiber_g}}'}}g</td>
		</tr>
		<tr>
		<td><b>Sugar</b> {{ '{{nuts.sugar_g}}'}}g</td>
		</tr>
		<tr>
		<td><b>Protein</b> {{ '{{nuts.protein_g}}'}}g</td>
		</tr>
		<tr>
		<td><b>Vitamin A</b> {{ '{{nuts.vitamin_a_iu}}'}} IU</td>
		</tr>
		<tr>
		<td><b>Vitamin C</b> {{ '{{nuts.vitamin_c_mg}}'}}mg</td>
		</tr>
		<tr>
		<td><b>Calcium</b> {{ '{{nuts.calcium_mg}}'}}mg</td>
		</tr>
		<tr>
		<td><b>Iron</b> {{ '{{nuts.iron_mg}}'}}mg</td>
		</tr>
		</table>
	</div>
</div>
{% endblock content %}
