{% extends "layout.html" %}
{% block scripts %}
	<style>
	tr {
		cursor: hand;
		cursor: pointer;
	}
	</style>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script>
		function initialize() {
		  var mapProp = {
			center:new google.maps.LatLng({{ place }}),
			zoom:17,
			mapTypeId:google.maps.MapTypeId.ROADMAP
		  };
		  var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
		}
		google.maps.event.addDomListener(window, 'load', initialize);
		$(function() {
			initialize();
		});
		$(window).resize(initialize);
		
		angular.module('mbApp', []).controller('mbCtrl', function($scope, $http) {
			$scope.getData = function () {
				$http.get("ingredients/{{ i_id }}").then(function (transmit) {
					$scope.basic = transmit.data;
				});
				$http.get("ingredients/{{ i_id }}/recipes").then(function (transmit) {
					$scope.recipes = transmit.data.recipes;
				});
				$http.get("ingredients/{{ i_id }}/nutrition").then(function (transmit) {
					$scope.nuts = transmit.data;
				});
			}
			$(function() {
				$scope.getData();
			});
		});
	</script>
{% endblock scripts %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div ng-app="mbApp" ng-controller="mbCtrl">
	<div class="row" style="padding-bottom:10px">
		<div class="col-xs-12 col-sm-6 col-lg-6">
			<h1 style="word-wrap: break-word">{{ '{{ basic.name }}' }}</h1>
			Scientific name: {{ '{{ basic.scientific_name }}' }}
			{{ '{{basic}}' }}
			{{ '{{recipes}}' }}
			{{ '{{nuts}}' }}
		</div>
		<div style="padding-top:10px" class="col-xs-12 col-sm-6 col-lg-6">
			<img class="img-responsive" src={{ img_uri }}></img>
		</div>
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<h3>Produced here:</h3>
		<div id="googleMap" style="height:300px;background-color:transparent"></div>
		<h3>Used in recipes:</h3>
		<a ng-repeat="x in recipes" ng-href="/recipe_{{ '{{x.id}}' }}.html" class="btn btn-default">{{ '{{x.title}}' }}</a>
	</div>
	
	<div class="col-xs-12 col-sm-6">
		<table class="table table-default table-hover">
		<th>
		<h4>Nutrition Facts</h4>
		</th>
		<tr>
		<td>Serving Size {{ '{{nuts.calcium_mg}}'}}g</td>
		</tr>
		<tr style="background-color:black">
		<td></td>
		</tr>
		<tr>
		<td><b>Amount Per Serving</td>
		</tr>
		<tr>
		<td><b>Calories</b> 717</td>
		</tr>
		<tr>
		<td><b>Total Fat</b> 81.11g</td>
		</tr>
		<tr>
		<td><b>Saturated Fat</b> 50.489g</td>
		</tr>
		<tr>
		<td><b>Cholesterol</b> 215g</td>
		</tr>
		<tr>
		<td><b>Sodium</b> 11mg</td>
		</tr>
		<tr>
		<td><b>Total Carb.</b> 0.06g</td>
		</tr>
		<tr>
		<td><b>Fiber</b> 0g</td>
		</tr>
		<tr>
		<td><b>Sugar</b> 0.06g</td>
		</tr>
		<tr>
		<td><b>Protein</b> 0.85g</td>
		</tr>
		<tr>
		<td><b>Vitamin A</b> 2499 IU</td>
		</tr>
		<tr>
		<td><b>Vitamin C</b> 0mg</td>
		</tr>
		<tr>
		<td><b>Calcium</b> 24mg</td>
		</tr>
		<tr>
		<td><b>Iron</b> 0.02mg</td>
		</tr>
		</table>
	</div>
</div>
{% endblock content %}