<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/angular.min.js"></script>
	<style>
	body {
		background-color: #f2f2f2
	}
	div.container {
		background-color: white
	}
	div.img-square {
		height:75px;
		//background-color:orange;
		background-size:auto 75px;
		background-position:center center;
		background-repeat:no-repeat;
		border-left: 3px solid orange;
		border-right: 3px solid orange;
	}
	</style>
	<script>
	//start http://stackoverflow.com/questions/14735274/bootstrap-css-hides-portion-of-container-below-navbar-navbar-fixed-top
		var onResize = function() {
			// apply dynamic padding at the top of the body according to the fixed navbar height
			$("body").css("padding-top", $(".navbar-fixed-top").height() + 10);
		}

		// attach the function to the window resize event
		$(window).resize(onResize);

		// call it also when the page is ready after load or reload
		$(function() {
			onResize();
		});
	//end http://stackoverflow.com/questions/14735274/bootstrap-css-hides-portion-of-container-below-navbar-navbar-fixed-top
	</script>
	{% block scripts %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand" href="/index.html">IRDb</a>
		</div>
        <div id="navbar" class="navbar-collapse collapse" ng-controller="HeaderController">
		<ul class="nav navbar-nav">
			<li class={{ indexlit }}><a href="/index.html">Home</a></li>
			<li class={{ recipeslit }}><a href="/recipes.html">Recipes</a></li>
			<li class={{ ingredientslit }}><a href="/ingredients.html">Ingredients</a></li>
			<li class={{ aboutlit }}><a href="/about.html">About</a></li>
		</ul>
		<div class="col-sm-4">
		<form class="navbar-form" role="search" action="search">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search" name="q">
				<div class="input-group-btn">
					<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
				</div>
			</div>
		</form>
		</div>
        </div>
	</div>
</nav>

<div class="container">
{% block content %}{% endblock %}
</div>
</body>
</html>
