{% extends "layout.html" %}
{% block scripts %}
	<style>
	thead {
		cursor: hand;
		cursor: pointer;
	}
	</style>
{% endblock scripts %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div ng-app="mbApp" ng-controller="mbCtrl">
	<table>
		<tr>
			<th ng-click="orderByMe('id')">ID</th>
			<th ng-click="orderByMe('title')">Title</th>
		</tr>
	<tr ng-repeat="x in names | orderBy:mbOrderBy:mbReverse">
		<td>{{ '{{x.id}}' }}</td>
		<td>{{ '{{x.title}}' }}</td>
	</tr>
	</table>
</div>
{% endblock content %}