{% extends "layout.html" %}
{% block scripts %}
	<style>
	.glyphicon-ok {
		color: green;
	}
	tr {
		cursor: hand;
		cursor: pointer;
	}
	.table td.fit, 
	.table th.fit {
		white-space: nowrap;
		width: 1%;
	}
	div.img-square {
		min-height:100px;
		max-height:400px;
		background-size:auto 100%;
	}
	</style>
	<script>
		var ratio = .75;
		var debounceRectIt;
		function rectIt() {
			$("div.img-square").height($(window).height() * ratio);
		}
		window.addEventListener('load', function(event) {
			clearTimeout(debounceRectIt);
			debounceRectIt = setTimeout(rectIt, 50);
		});
		window.addEventListener('resize', function(event) {
			clearTimeout(debounceRectIt);
			debounceRectIt = setTimeout(rectIt, 50);
		});

		angular.module('mbApp', []).controller('mbCtrl', function($scope, $sceDelegate, $sce, $http) {
			$scope.stepStats = [];
			$scope.clickedStep = function (index) {
				$scope.stepStats[index].done = !$scope.stepStats[index].done;
				for (var i = 0; i < $scope.stepStats.length; ++i) {
					if ($scope.stepStats[i].done) {$scope.stepStats[i].hi = false;}
					else {
						if (i - 1 >= 0) {$scope.stepStats[i].hi = $scope.stepStats[i - 1].done;}
						else {$scope.stepStats[i].hi = true;}
					}
				}
			}
			$scope.rString = function (str) {
				var i = str.length - 1, r = "";
				while (i >= 0) {
					r += str[i--];
				}
				return r;
			}
			$scope.linkByName = function(ingredient, baseName) {
				console.log("makePluralFwd: " + $scope.makePluralFwd(baseName));
				ingredient.formed_string = ingredient.original_string.replace(new RegExp($scope.makePluralFwd(baseName),"i"), "<a href='/ingredient_" + ingredient.id + ".html'>" + baseName + "</a>");
				console.log("Transform ingredient: " + ingredient.formed_string);
				if (ingredient.formed_string.indexOf("<a href") != -1) {
					ingredient.id = -ingredient.id;
					console.log("\tDetected change.");
				} else {
					var rStr = $scope.rString(ingredient.original_string);
					var rArr = $scope.rString(baseName).split(" ");
					var xp = "";
					var tempMatches, matches;
					for (var r = 0; r < rArr.length; r++) {
						var wordRegex = (r == 0 ? "" : "\\s?") + $scope.makePluralRev(rArr[r]);
						console.log("wordRegex: " + wordRegex);
						if (tempMatches = rStr.match(new RegExp(xp+wordRegex,"i"))) {
							xp += wordRegex;
							matches = tempMatches;
						} else if (xp != "") break;
					}
					
					if (matches != null) {
						var rLink = $scope.rString("</a>") + matches[0] + $scope.rString("<a href='/ingredient_" + ingredient.id + ".html'>");
						console.log("\tMatching string: " + xp);
						console.log("\tNew link: " + rLink);
						ingredient.formed_string = $scope.rString(rStr.replace(new RegExp(xp,"i"), rLink));
						ingredient.id = -ingredient.id;
					}
				}
				ingredient.formed_string = $sceDelegate.trustAs($sce.HTML, ingredient.formed_string);
			}
			$scope.makePluralRev = function(str) {
				if (str.startsWith("y")) str = str.replace("y", "(sei|y)");
				else str = "(se?)?" + str;
				return str;
			}
			$scope.makePluralFwd = function(str) {
				if (str.endsWith("y")) str = str.replace("y$", "(y|ies)");
				else str += "(e?s)?";
				return str;
			}
			$scope.getData = function () {
				$http.get("recipes/{{ rec_id }}").then(function (transmit) {
					$scope.data = transmit.data;
					console.log($scope.data.instructions);
					if ($scope.data.instructions.indexOf("<li>") != -1) {
						$scope.data.instructions = $scope.data.instructions.replace("<ol><li>", "").replace("</li></ol>", "").split("</li><li>");
					} else {
						$scope.data.instructions = $scope.data.instructions.split(/\.\s?(?=[A-Z])/);
						console.log("instructions length: " + $scope.data.instructions.length);
					}
					$scope.halfI = Math.floor($scope.data.ingredients.length / 2);
					console.log($scope.data);
					$scope.stepStats = [];
					for (var i = 0; i < $scope.data.instructions.length; ++i) {
						$scope.stepStats.push({done:false, hi:i==0});
					}
					$scope.getBaseIngredient(0);
				});
			}
			$scope.getBaseIngredient = function (i) {
				if (i < $scope.data.ingredients.length) {
					var curIng = $scope.data.ingredients[i];
					if (curIng.id == 0) {return $scope.getBaseIngredient(i + 1);}
					$http.get("ingredients/" + curIng.id).then(function (transmit) {
						console.log(curIng + " vs " + transmit.data.name);
						$scope.linkByName(curIng, transmit.data.name);
						$scope.getBaseIngredient(i + 1);
					});
				}
			}
			$(function() {
				$scope.getData();
			});
		});
	</script>
{% endblock scripts %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div ng-app="mbApp" ng-controller="mbCtrl">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-6">
			<h1>{{ '{{data.title}}' }}</h1>
			<img ng-show="data.gluten_free" style="max-height:50px;" src="/static/img/gluten_free.jpg"></img>
			<img ng-show="data.dairy_free" style="max-height:50px;" src="https://www.nuggetmarket.com/img/special-diets/USDDF.png"></img>
			<img ng-show="data.vegan" style="max-height:50px;" src="http://previews.123rf.com/images/dinozzz/dinozzz1207/dinozzz120700048/14634682-Grunge-vegan-food-rubber-stamp-vector-illustration--Stock-Vector.jpg"></img>
			<img ng-show="data.vegetarian" style="max-height:50px;" src="http://chop4naija.com/wp-content/uploads/2016/02/Suitable-for-Vegetarians-Sticker.png"></img>
			<br /><img class="img-responsive" style="display:inline-block; max-height:35px;" src="/static/img/time.png"></img> {{ '{{data.ready_in_minutes}}' }} minutes
			<br />Serves: {{ '{{data.servings}}' }}
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-6"><div class="img-responsive img-square" style="margin-top:10px; background-image:url('{{ '{{data.image_uri}}' }}')"></div></div>
	</div>
	
	<div class="page-header">
		<h3>Ingredients</h3>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="checkbox" ng-repeat="x in data.ingredients">
				<label><input type="checkbox" value="">
				<div ng-if="x.id > 0">
					<a ng-href="/ingredient_{{ '{{x.id}}' }}.html">{{ '{{x.original_string}}' }}</a>
				</div>
				<div ng-if="x.id == 0">
					{{ '{{x.original_string}}' }}
				</div>
				<div ng-if="x.id < 0">
					<span ng-bind-html="x.formed_string"></span>
				</div>
				</label>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
		</div>
	</div>
    
	<div class="page-header">
		<h3>Instructions</h3>
	</div>
	<div>
		<table class="table table-default">
		<tr ng-click="clickedStep($index)" ng-repeat="x in data.instructions">
			<td class="fit"><span ng-class="stepStats[$index].done ? 'glyphicon-ok' : 'glyphicon-minus'" class="glyphicon"></span></td>
			<td ng-class="stepStats[$index].hi ? 'info' : (stepStats[$index].done ? 'text-muted' : '')">{{ '{{x}}' }}</td>
		</tr>
		</table>
	</div>
</div>
{% endblock content %}
