{% extends "layout.html" %}
{% block scripts %}
	<style>
	.glyphicon-ok {
		color: green;
	}
	tr {
		cursor: hand;
		cursor: pointer;
	}
	.table td.fit, 
	.table th.fit {
		white-space: nowrap;
		width: 1%;
	}
	</style>
	<script>
		$(document).ready(function(){
			$("table tr").click(function(event){
				$glyph = $(this).children().find(".glyphicon");
				$glyph.toggleClass("glyphicon-minus glyphicon-ok");
				$textD = $(this).children().eq(1);
				$nextRow = $(this).next().children().eq(1);
				
				if ($textD.hasClass("text-muted")) {
					//Backward
					if ($(this).prev().prop("tagName") == undefined || $(this).prev().children().eq(1).hasClass("text-muted"))
						$textD.addClass("info");
					
					if (!$nextRow.hasClass("text-muted"))
						$nextRow.removeClass("info");
				} else {
					//Forward
					$textD.removeClass("info");
					
					if (!$nextRow.hasClass("text-muted"))
						$nextRow.toggleClass("info");
				}
				$textD.toggleClass("text-muted");
			});
			$("table tr").hover(function() {
				$('this').css('cursor', 'pointer');
			});
		});
		
		angular.module('mbApp', []).controller('mbCtrl', function($scope, $http) {
			$scope.getData = function () {
				$http.get("recipes/{{ rec_id }}").then(function (transmit) {
					$scope.data = transmit.data;
					if ($scope.data.instructions.contains("<li>")) {
						$scope.data.instructions = $scope.data.instructions.replace("<ol><li>", "").replace("</li></ol>", "").split("</li><li>");
					} else {
						$scope.data.instructions = $scope.data.instructions.split(/\.\s?(?=[A-Z])/);
						console.log("instructions length: " + $scope.data.instructions.length);
					}
					$scope.halfI = Math.floor($scope.data.ingredients.length / 2);
					console.log($scope.data);
					$scope.getBaseIngredient(0);
				});
			}
			$scope.getBaseIngredient = function (i) {
				if (i < $scope.data.ingredients.length) {
					var curIng = $scope.data.ingredients[i];
					$http.get("ingredients/" + curIng.id).then(function (transmit) {
						var baseName = transmit.data.name;
						curIng.formed_string = curIng.original_string.replace(new RegExp(baseName,"i"), "<a href='/ingredient_" + curIng.id + ".html'>" + baseName + "</a>");
						console.log("Transform ingredient: " + curIng.formed_string);
						if (curIng.formed_string.contains("<a href")) {
							curIng.id = -curIng.id;
							console.log("\tDetected change.");
						}
						$scope.getBaseIngredient(i + 1);
					});
				}
			}
			$(function() {
				$scope.getData();
			});
		});
	</script>
{% endblock scripts %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div ng-app="mbApp" ng-controller="mbCtrl">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-6">
			<h1>{{ '{{data.title}}' }}</h1>
			<img ng-show="data.gluten_free" style="max-height:50px;" src="/static/img/gluten_free.jpg"></img>
			<img ng-show="data.dairy_free" style="max-height:50px;" src="https://www.nuggetmarket.com/img/special-diets/USDDF.png"></img>
			<img ng-show="data.vegan" style="max-height:50px;" src="http://previews.123rf.com/images/dinozzz/dinozzz1207/dinozzz120700048/14634682-Grunge-vegan-food-rubber-stamp-vector-illustration--Stock-Vector.jpg"></img>
			<img ng-show="data.vegetarian" style="max-height:50px;" src="http://chop4naija.com/wp-content/uploads/2016/02/Suitable-for-Vegetarians-Sticker.png"></img>
			<br />Ready in: {{ '{{data.ready_in_minutes}}' }}
			<br />Serves: {{ '{{data.servings}}' }}
		</div>
		<div style="padding-top:10px" class="col-xs-12 col-sm-6 col-lg-6">
			<img class="img-responsive" src={{ '{{data.image_uri}}' }}></img>
		</div>
	</div>
	
	<div class="page-header">
		<h3>Ingredients</h3>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="checkbox" ng-repeat="x in data.ingredients">
				<label><input type="checkbox" value="">
				<div ng-if="x.id > 0">
					<a ng-href="/ingredient_{{ '{{x.id}}' }}.html">{{ '{{x.original_string}}' }}</a>
				</div>
				<div ng-if="x.id == 0">
					{{ '{{x.original_string}}' }}
				</div>
				<div ng-if="x.id < 0">
					{{ '{{x.formed_string}}' }}
				</div>
				</label>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
		</div>
	</div>
    
	<div class="page-header">
		<h3>Instructions</h3>
	</div>
	<div>
		<table class="table table-default">
		<tr ng-repeat="x in data.instructions">
			<td class="fit"><span class="glyphicon glyphicon-minus"></span></td>
			<td ng-class='{info:$first}'>{{ '{{x}}' }}</td>
		</tr>
		</table>
	</div>
</div>
{% endblock content %}
