{% extends "layout.html" %}
{% block scripts %}
	<style>
	thead {
		cursor: hand;
		cursor: pointer;
	}
	</style>
	<script>
		angular.module('mbApp', []).controller('mbCtrl', function($scope, $http) {
			$scope.names = [
				{id:'1',title:'Jamba'},
				{id:'2',title:'Shrimp'},
			];
			$scope.mbReverse = false;
			$scope.orderByMe = function(x) {
				if ($scope.mbOrderBy == x) {
					$scope.mbReverse = !$scope.mbReverse;
				} else {
					$scope.mbReverse = false;
				}
				$scope.mbOrderBy = x;
			}
			$scope.getData = function () {
				$http.get("r").then(function (transmit) {
					$scope.data = transmit.data;
					alert($scope.data.recipes[0].cuisine);
				});
			}
			$(function() {
				$scope.getData();
			});
		});
	</script>
{% endblock scripts %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<div class="table-responsive" ng-app="mbApp" ng-controller="mbCtrl">
	<table class="table table-default table-hover">
		<tr>
			<th ng-click="orderByMe('id')">ID</th>
			<th ng-click="orderByMe('title')">Title</th>
		</tr>
	<tr ng-repeat="x in data.recipes | orderBy:mbOrderBy:mbReverse">
		<td>{{ '{{x.id}}' }}</td>
		<td>{{ '{{x.title}}' }}</td>
	</tr>
	</table>
</div>
{% endblock content %}