{% extends "layout.html" %}
{% block title %}{{ title }} - IRDb Search{% endblock title %}

{% block scripts %}
<script>
		angular.module('mbApp', []).controller('mbCtrl', function($scope, $http) {
			$scope.isLoading = true;
			$scope.isLoadingData = true;
			$scope.firstNumber = 1;
			$scope.page = 1;
			{{ realprefix }}$scope.perPage = 10;
			{{ testprefix }}$scope.perPage = 2;
			$scope.maxPage = 18;
			$scope.pages = [1, 2, 3, 4, 5];
			$scope.ing;
			$scope.changePage = function(x) {
				if (x == -1) {
					$scope.page = 1;
					$scope.firstNumber = 1;
				} else if (x == -2) {
					$scope.page = $scope.maxPage;
					$scope.firstNumber = $scope.page - $scope.pages.length + 1;
				} else {
					$scope.page = $scope.pages[x];
					$scope.firstNumber = $scope.page - 2;
					if ($scope.firstNumber > $scope.maxPage - $scope.pages.length + 1) {
						$scope.firstNumber = $scope.maxPage - $scope.pages.length + 1;
					} else if ($scope.firstNumber < 1) {
						$scope.firstNumber = 1;
					}
				}
				
				for (var i = 0; i < $scope.pages.length; ++i) {
					$scope.pages[i] = $scope.firstNumber + i;
				}
				$scope.getData();
			}
			$scope.computeIsLoading = function () {
				$scope.isLoading = 	$scope.isLoadingData;
			}
			$scope.getData = function () {
				$scope.isLoadingData = true;
				$http.get("query?q={{ title }}&limit=" + $scope.perPage + "&page=" + $scope.page).then(function (transmit) {
					$scope.data = transmit.data;
					$scope.maxPage = Math.ceil(transmit.data.count / $scope.perPage);
				});
				$scope.isLoadingData = false;
				$scope.computeIsLoading();
			}
			$(function() {
				$scope.getData();
			});
		});
	</script>
{% endblock scripts %}

{% block content %}
<div ng-app="mbApp" ng-controller="mbCtrl">
<div ng-show="isLoading" class="alert alert-warning">
  Loading data...
</div>
	<div class="row" ng-repeat="x in data.results" style="margin-bottom:10px">
		<div ng-if="x.type == 'recipe'">
			<a ng-href="/recipe_{{ '{{x.id}}' }}.html">
			<h3>{{ '{{x.title}}' }} - Recipe</h3>
			</a>
		</div>
		<div ng-if="x.type == 'ingredient'">
			<a ng-href="/ingredient_{{ '{{x.id}}' }}.html">
			<h3>{{ '{{x.name}}' }} - Ingredient</h3>
			</a>
		</div>
	</div>
	<center>
		<ul class="pagination">
			<li><a ng-click="changePage(-1)">First</a></li>
			<li><a ng-click="changePage(0)">{{ '{{pages[0]}}' }}</a></li>
			<li><a ng-click="changePage(1)">{{ '{{pages[1]}}' }}</a></li>
			<li><a ng-click="changePage(2)">{{ '{{pages[2]}}' }}</a></li>
			<li><a ng-click="changePage(3)">{{ '{{pages[3]}}' }}</a></li>
			<li><a ng-click="changePage(4)">{{ '{{pages[4]}}' }}</a></li>
			<li><a ng-click="changePage(-2)">Last</a></li>
		</ul>
		<br />Max Page: {{ '{{maxPage}}' }}
	</center>
</div>
{% endblock content %}