{% extends "layout.html" %}
{% block title %}{{ title }} - IRDb Search{% endblock title %}

{% block scripts %}
<script src="http://code.angularjs.org/1.4.8/angular-sanitize.min.js"></script>
<script>
		angular.module('mbApp', []).controller('mbCtrl', function($scope, $sceDelegate, $sce, $http) {
			$scope.isLoading = true;
			$scope.isLoadingData = true;
			$scope.firstNumber = 1;
			$scope.page = 1;
			{{ realprefix }}$scope.perPage = 10;
			{{ testprefix }}$scope.perPage = 2;
			$scope.maxPage = 18;
			$scope.pages = [1, 2, 3, 4, 5];
			$scope.ing;
			$scope.changePage = function(x) {
				if (x == -1) {
					$scope.page = 1;
					$scope.firstNumber = 1;
				} else if (x == -2) {
					$scope.page = $scope.maxPage;
					$scope.firstNumber = $scope.page - $scope.pages.length + 1;
				} else {
					$scope.page = $scope.pages[x];
					$scope.firstNumber = $scope.page - 2;
					if ($scope.firstNumber > $scope.maxPage - $scope.pages.length + 1) {
						$scope.firstNumber = $scope.maxPage - $scope.pages.length + 1;
					} else if ($scope.firstNumber < 1) {
						$scope.firstNumber = 1;
					}
				}
				
				for (var i = 0; i < $scope.pages.length; ++i) {
					$scope.pages[i] = $scope.firstNumber + i;
				}
				$scope.getData();
			}
			$scope.computeIsLoading = function () {
				$scope.isLoading = 	$scope.isLoadingData;
				console.log("recompute: " + $scope.isLoading);
			}
			$scope.getData = function () {
				$scope.isLoadingData = true;
				$http.get("searchTEST?keywords={{ title }}&limit=" + $scope.perPage + "&page=" + $scope.page).then(function (transmit) {
					$scope.data = transmit.data;
					$scope.processResults($scope.data.and.results);
					$scope.processResults($scope.data.or.results);
					console.log("Length 'and' results: " + $scope.data.and.count);
					console.log("Length 'or' results: " + $scope.data.or.count);
					$scope.maxPage = Math.ceil(($scope.data.and.count + $scope.data.or.count) / $scope.perPage);
					console.log("Max Page: " + $scope.maxPage);

					$scope.allResults = $scope.data.and.results.concat($scope.data.or.results);
					$scope.computeResultsList();
					
					$scope.isLoadingData = false;
					$scope.computeIsLoading();
				});
			}
			$scope.processResults = function (results) {
				for (var i = 0; i < results.length; ++i) {
					for (var y = 0; y < results[i].snippets.length; ++y) {
						results[i].snippets[y] = $sceDelegate.trustAs($sce.HTML, results[i].snippets[y]);
						console.log("sanitizing: " + results[i].snippets[y]);
					}
				}
			}
			$scope.computeResultsList = function () {
				if ($scope.allResults == undefined)
					$scope.allResults = $scope.data.and.results.concat($scope.data.or.results);
				$scope.results = $scope.allResults.splice($scope.page * scope.perPage, $scope.perPage);
			}
			$(function() {
				$scope.getData();
			});
		});
	</script>
{% endblock scripts %}

{% block content %}
<div ng-app="mbApp" ng-controller="mbCtrl">
<div ng-show="isLoading" class="alert alert-warning">
  Loading data...
</div>
	<div class="row" ng-repeat="x in results" style="margin-left:10px; margin-bottom:10px">
		<div ng-if="x.type == 'recipe'" style="margin-bottom:10px;">
			<h3><a ng-href="/recipe_{{ '{{x.id}}' }}.html">{{ '{{x.title}}' }} - Recipe</a></h3>
			<div class="row">
				<a ng-href="/recipe_{{ '{{x.id}}' }}.html">
					<div class="col-xs-2 img-square" style='background-image:url("{{ '{{x.image_uri}}' }}")'></div>
				</a>
				<div class="col-xs-10">
					A {{ '{{x.cuisine}}' }} dish that you can prepare in {{ '{{x.ready_in_minutes}}' }} minutes.<br />
					Serves {{ '{{x.servings}}' }} people. <p ng-repeat="s in x.snippets" ng-bind-html="s"></p>
				</div>
			</div>
		</div>
		<div ng-if="x.type == 'ingredient'" style="margin-bottom:10px;">
			<h3><a ng-href="/ingredient_{{ '{{x.id}}' }}.html">{{ '{{x.name}}' }} - Ingredient</a></h3>
			<div class="row">
				<a ng-href="/recipe_{{ '{{x.id}}' }}.html">
					<div class="col-xs-2 img-square" style='background-image:url("{{ '{{x.image_uri}}' }}")'></div>
				</a>
				<div class="col-xs-10">
					The {{ '{{x.name}}' }} (<i>{{ '{{x.scientific_name}}' }}</i>) originates from {{ '{{x.origin}}' }}.<br />
					<p ng-repeat="s in x.snippets" ng-bind-html="s"></p>
				</div>
			</div>
		</div>
		
		<div ng-if="$last">
			<h3><a ng-href="/ingredient_{{ '{{x.id}}' }}.html">{{ '{{x.name}}' }} - Ingredient</a></h3>
			<div class="row">
				<a ng-href="/recipe_{{ '{{x.id}}' }}.html">
					<div class="col-xs-2 img-square" style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/6/6c/Herjangsfjorden_%26_Ofotfjorden,_wide,_2009_09.jpg')"></div>
				</a>
				<div class="col-xs-10">
					A african dish that you can prepare in 75 minutes.<br>
				</div>
			</div>
		</div>
	</div>
	<center>
		<ul class="pagination">
			<li><a ng-click="changePage(-1)">First</a></li>
			<li><a ng-click="changePage(0)">{{ '{{pages[0]}}' }}</a></li>
			<li><a ng-click="changePage(1)">{{ '{{pages[1]}}' }}</a></li>
			<li><a ng-click="changePage(2)">{{ '{{pages[2]}}' }}</a></li>
			<li><a ng-click="changePage(3)">{{ '{{pages[3]}}' }}</a></li>
			<li><a ng-click="changePage(4)">{{ '{{pages[4]}}' }}</a></li>
			<li><a ng-click="changePage(-2)">Last</a></li>
		</ul>
		<br />Max Page: {{ '{{maxPage}}' }}
	</center>
</div>
{% endblock content %}